body {
	margin: 0px;
	overflow: hidden;
	font-family: Helvetica;
	text-align: center;
}
.info {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	position: absolute;
	bottom: 10px;
	width: 12%;
	margin: 25px;
	padding: 25px;
	font-size: 20px;
}
#leftInfo {
	left: 10px;
  display: none;
}
#rightInfo {
	right: 10px;
  display: none;
}
#health{
	font-size:35px;
	letter-spacing: 15px;
	margin-left: 15px;
}
#loading{
  background-color: #1D1D1D;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
  padding-top: 15%;
}

#restart:hover{
	color:#6D6D6D;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  cursor: pointer;
}
#statistics{
  position: absolute;
  width: 300px;
  height: 180px;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -150px;
  display: none;
}
